* {
  transition: all 0.2s ease-out;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  color: #2c4058;
  font-family: "GothamProBold";
}
html.lock,
body.lock {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #2c4058;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
}

.more-button {
  display: block;
  max-width: 200px;
  padding: 20px 0;
  border: 1px solid #2c4058;
  text-align: center;
  font-family: "GothamProRegular";
}
.more-button:hover {
  background-color: #7e5aff;
  border: 1px solid #7e5aff;
  color: white;
}

.submit-button {
  text-align: center;
  text-decoration: none;
  color: #2c4058;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  padding: 20px 80px;
  border: 1px solid #2c4058;
  background: none;
  float: right;
  cursor: pointer;
  outline: 0;
  outline-offset: 0;
  font-family: "GothamProRegular";
}
.submit-button:hover {
  background-color: #7e5aff;
  border: 1px solid #7e5aff;
  color: white;
}

input {
  width: 100%;
  border: none;
  padding: 10px 0px;
  border-bottom: 1px solid #2c4058;
  outline: 0;
  outline-offset: 0;
  font-size: 18px;
  margin: 0px 0px 30px 0px;
  color: #2c4058;
}

.small-icon {
  width: 16px;
  height: auto;
  margin-right: 10px;
}

.container {
  width: 100%;
  padding: 100px 0px;
}
.container .line {
  width: 100px;
  height: 1px;
  background-color: #2c4058;
  margin: 0 auto 45px auto;
}
.container h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.container__content {
  max-width: 1170px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  background-color: #7e5aff;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
}
.menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7e5aff;
  z-index: 3;
}
.menu .container__content__item__nav {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px;
}
.menu .container__content__item__nav .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: relative;
  font-family: "GothamProRegular";
}
.menu .container__content__item__nav .navigation .header-logo svg {
  width: 240px;
  height: auto;
  cursor: pointer;
}
.menu .container__content__item__nav .navigation .navigation-menu {
  display: flex;
  gap: 70px;
  position: relative;
  right: 6%;
  z-index: 3;
}
.menu .container__content__item__nav .navigation .navigation-menu .navigation__item {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.menu .container__content__item__nav .navigation .social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.menu .container__content__item__nav .navigation .social-icons .social-icons__item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.menu .container__content__item__nav .navigation .social-icons .social-icons__item svg {
  width: auto;
  height: 16px;
}
.menu .container__content__item__nav .navigation .social-icons .social-icons__item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}

.container__content__item__icon {
  display: flex;
  justify-content: center;
}
.container__content__item__icon .down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  top: 760px;
}
.container__content__item__icon .down-arrow svg {
  width: auto;
  height: 10px;
}

.hero-container {
  background-image: url("../img/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px;
}
.hero-container .slick-slider {
  position: relative;
  width: 100%;
}
.hero-container .slick-slider .slick-list .slick-track .slick-slide {
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}
.hero-container .slick-slider .hero-dots {
  position: absolute;
  top: 35%;
  right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  list-style: none;
  text-align: center;
}
.hero-container .slick-slider .hero-dots li {
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0;
  cursor: pointer;
}
.hero-container .slick-slider .hero-dots li button {
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  outline: none;
  background: transparent;
}
.hero-container .slick-slider .hero-dots .slick-active button {
  background: white;
}
.hero-container .slick-slider .arrow-prev {
  background-image: url("../img/left.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  position: absolute;
  z-index: 1;
  left: 40px;
  top: calc(50% - 50px);
}
.hero-container .slick-slider .arrow-next {
  background-image: url("../img/right.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 40px;
  top: calc(50% - 50px);
}
.hero-container .container__content__item__headline .hero-text {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.hero-container .container__content__item__headline .hero-text h1 {
  font-size: 80px;
  line-height: 22px;
  margin: 0px 0px 40px 0px;
}
.hero-container .container__content__item__headline .hero-text span {
  font-size: 18px;
  line-height: 22px;
  font-family: "GothamProRegular";
  letter-spacing: 4px;
}

.what-we-do-container .what-we-do {
  display: flex;
  flex-direction: column;
}

.trade-center-container {
  background-image: url("../img/what-we-do-bg-trade.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  padding: 100px 0px 140px 0px;
}
.trade-center-container .container__content .section-trade-center {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.trade-center-container .container__content .section-trade-center .section-trade-center__img {
  background-image: url("../img/trade-center.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  max-width: 630px;
  min-width: 240px;
  flex: 0 0 630px;
  height: 470px;
}
.trade-center-container .container__content .section-trade-center .section-trade-center__text {
  max-width: 470px;
  flex: 1 1 auto;
}
.trade-center-container .container__content .section-trade-center .section-trade-center__text span {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 24px;
  font-family: "GothamProRegular";
}
.trade-center-container .container__content .section-trade-center .section-trade-center__text h1 {
  text-align: left;
  margin: 20px 0px 0px 0px;
  line-height: 40px;
}
.trade-center-container .container__content .section-trade-center .section-trade-center__text .paragraph {
  font-size: 18px;
  line-height: 30px;
  margin: 40px 0px;
  font-family: "GothamProRegular";
}
.trade-center-container .container__content .section-trade-center .section-trade-center__text .pointer {
  margin: 60px 0px 0px 0px;
  font-family: "GothamProItalic";
}

.commerce-centre-container {
  background-image: url("../img/what-we-do-bg-commerce.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  padding: 100px 0px 140px 0px;
}
.commerce-centre-container .container__content .section-commerce-centre {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
}
.commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__img {
  background-image: url("../img/commerce-center.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  max-width: 630px;
  min-width: 280px;
  flex: 0 0 630px;
  height: 470px;
}
.commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text {
  max-width: 470px;
  flex: 1 1 auto;
}
.commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text span {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 24px;
  font-family: "GothamProRegular";
}
.commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text h1 {
  text-align: left;
  margin: 20px 0px 0px 0px;
  line-height: 40px;
}
.commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text .paragraph {
  font-size: 18px;
  line-height: 30px;
  margin: 40px 0px;
  font-family: "GothamProRegular";
}
.commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text .pointer {
  margin: 60px 0px 0px 0px;
  font-family: "GothamProItalic";
}

.latest-news-container {
  background-image: url("../img/latest-news-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 0px;
}
.latest-news-container .latest-news .line {
  background-color: white;
}
.latest-news-container .latest-news h1 {
  color: white;
}
.latest-news-container .latest-news .news-slider {
  position: relative;
  width: 100%;
}
.latest-news-container .latest-news .news-slider .slick-list {
  margin: 100px -15px 0px -15px;
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide {
  margin: 0px 15px 0px 15px;
  outline: none;
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__img {
  background-image: url("../img/slider-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  width: auto;
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block {
  background-color: white;
  padding: 30px;
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__headline {
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block span {
  font-size: 18px;
  line-height: 24px;
  display: block;
  margin: 20px 0px 30px 0px;
  font-family: "GothamProRegular";
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author .item__author__text-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author .item__author__text-block .item__author__headline {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "GothamProRegular";
}
.latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author .item__author__text-block span {
  font-size: 14px;
  line-height: 22px;
  color: #55b7ff;
  margin: 0px;
  font-family: "GothamProRegular";
}
.latest-news-container .latest-news .news-slider .arrow-prev {
  background-image: url("../img/left.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  position: absolute;
  z-index: 1;
  left: -70px;
  top: calc(50% - 50px);
}
.latest-news-container .latest-news .news-slider .arrow-next {
  background-image: url("../img/right.png");
  background-repeat: no-repeat;
  height: 32px;
  width: 32px;
  position: absolute;
  right: -70px;
  top: calc(50% - 50px);
}
.latest-news-container .latest-news .news-slider .news-dots {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  list-style: none;
  text-align: center;
}
.latest-news-container .latest-news .news-slider .news-dots li {
  width: 20px;
  height: 20px;
  margin: 10px;
  padding: 0;
  cursor: pointer;
}
.latest-news-container .latest-news .news-slider .news-dots li button {
  font-size: 0;
  line-height: 0;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 1px solid white;
  border-radius: 50%;
  outline: none;
  background: transparent;
}
.latest-news-container .latest-news .news-slider .news-dots .slick-active button {
  background: white;
}

.gallery-container {
  padding: 100px 0px 140px 0px;
}
.gallery-container .gallery .gallery__photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 100px 0px 60px 0px;
}
.gallery-container .gallery .gallery__photos .gallery__photos__big-item {
  background-image: url("../img/gallery-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 438px;
  max-width: 580px;
  flex: 0 0 580px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-container .gallery .gallery__photos .gallery__photos__big-item svg {
  width: 80px;
  height: auto;
}
.gallery-container .gallery .gallery__photos .gallery__photos__small-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex: 0 0 580px;
}
.gallery-container .gallery .gallery__photos .gallery__photos__small-items .gallery__photos__small-item {
  flex: 1 1 285px;
  height: 214px;
}
.gallery-container .gallery .gallery__photos .gallery__photos__small-items #gallery__photos__small-item-1 {
  background-image: url("../img/gallery-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery-container .gallery .gallery__photos .gallery__photos__small-items #gallery__photos__small-item-2 {
  background-image: url("../img/gallery-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery-container .gallery .gallery__photos .gallery__photos__small-items #gallery__photos__small-item-3 {
  background-image: url("../img/gallery-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery-container .gallery .gallery__photos .gallery__photos__small-items #gallery__photos__small-item-4 {
  background-image: url("../img/gallery-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery-container .gallery .more-button {
  margin: 0 auto;
}

.get-in-touch-container {
  position: relative;
  padding: 0;
  z-index: 10;
  box-sizing: border-box;
}
.get-in-touch-container .get-in-touch {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: -230px;
  right: 0;
  background-image: url("../img/form-img.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  padding: 60px 60px 80px 60px;
  max-width: 770px;
  box-sizing: border-box;
  box-shadow: 0px 0px 50px 0px rgba(44, 64, 88, 0.2);
}
.get-in-touch-container .get-in-touch .get-in-touch__content {
  margin: 60px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  font-family: "GothamProRegular";
}
.get-in-touch-container .get-in-touch .get-in-touch__content .content__text {
  flex: 0 0 300px;
}
.get-in-touch-container .get-in-touch .get-in-touch__content .content__text div {
  padding: 20px 0px;
  font-size: 18px;
}
.get-in-touch-container .get-in-touch .get-in-touch__content .content__form {
  flex: 0 0 300px;
}

.footer-container {
  background-image: url("../img/footer-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-container .container__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 524px;
}
.footer-container .container__content .footer .footer__links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 770px;
  margin: 0 auto;
}
.footer-container .container__content .footer .footer__links .footer__links__logo svg {
  width: 240px;
  height: auto;
}
.footer-container .container__content .footer .footer__links .social-icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-container .container__content .footer .footer__links .social-icons .social-icons__item {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
}
.footer-container .container__content .footer .footer__links .social-icons .social-icons__item svg {
  width: auto;
  height: 16px;
}
.footer-container .container__content .footer .footer__links .social-icons .social-icons__item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0);
}
.footer-container .container__content .footer .footer__info {
  color: white;
  max-width: 770px;
  margin: 50px auto 0px auto;
  font-family: "GothamProRegular";
  font-size: 14px;
}
.footer-container .container__content .footer .footer__info span {
  padding-right: 20px;
}
.footer-container .container__content .footer .footer__info span svg {
  margin: 0px 5px 0px 5px;
}
.footer-container .container__content .footer .footer__info span:nth-child(2) {
  border-left: 1px solid white;
  padding-left: 20px;
}

#map {
  height: 800px;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 60px 0px;
  }
  .container .line {
    width: 100px;
    height: 1px;
    background-color: #2c4058;
    margin: 0 auto 20px auto;
  }
  .container h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
  }

  .container__content {
    padding: 0px 30px;
  }

  .more-button {
    margin: 0 auto;
  }

  .hero-container .slick-slider {
    padding: 0px 20px;
  }
  .hero-container .slick-slider .slick-list .slick-track .slick-slide {
    height: 400px;
  }
  .hero-container .slick-slider .hero-dots {
    top: 30%;
  }
  .hero-container .slick-slider .hero-dots li {
    width: 14px;
    height: 14px;
    margin: 10px;
  }
  .hero-container .slick-slider .hero-dots li button {
    width: 14px;
    height: 14px;
  }
  .hero-container .slick-slider .container__content__item__headline .hero-text {
    max-width: 767px;
    margin: 70px 0px 0px 0px;
  }
  .hero-container .slick-slider .container__content__item__headline .hero-text h1 {
    font-size: 60px;
    line-height: 36px;
    margin: 0px 0px 40px 0px;
  }
  .hero-container .slick-slider .container__content__item__headline .hero-text span {
    font-size: 18px;
    line-height: 22px;
  }

  .container__content__item__icon .down-arrow {
    top: 420px;
  }

  .trade-center-container {
    background-image: none;
    padding: 0px 0px 60px 0px;
  }
  .trade-center-container .container__content .section-trade-center {
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__img {
    flex: 1 1 auto;
    height: 240px;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text {
    max-width: 767px;
    flex: 1 1 auto;
    text-align: center;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text span {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-family: "GothamProRegular";
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text h1 {
    text-align: center;
    margin: 20px 0px 0px 0px;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text .paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0px;
    font-family: "GothamProRegular";
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text .pointer {
    margin: 60px 0px 0px 0px;
    font-family: "GothamProItalic";
  }

  .commerce-centre-container {
    background-image: none;
    padding: 0px 0px 60px 0px;
  }
  .commerce-centre-container .container__content .section-commerce-centre {
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__img {
    order: 0;
    flex: 1 1 auto;
    height: 240px;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text {
    order: 1;
    max-width: 767px;
    flex: 1 1 auto;
    text-align: center;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text span {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-family: "GothamProRegular";
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text h1 {
    text-align: center;
    margin: 20px 0px 0px 0px;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text .paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0px;
    font-family: "GothamProRegular";
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text .pointer {
    margin: 60px 0px 0px 0px;
    font-family: "GothamProItalic";
  }

  .gallery-container {
    padding: 60px 0px;
  }
  .gallery-container .gallery .gallery__photos {
    justify-content: center;
    margin: 60px 0px 60px 0px;
  }
  .gallery-container .gallery .gallery__photos .gallery__photos__big-item {
    height: 320px;
    flex: 1 1 580px;
  }
  .gallery-container .gallery .gallery__photos .gallery__photos__small-items {
    gap: 10px;
    max-width: 580px;
    flex: 1 1 580px;
  }
  .gallery-container .gallery .gallery__photos .gallery__photos__small-items .gallery__photos__small-item {
    flex: 1 1 285px;
    height: 214px;
  }
  .gallery-container .gallery .more-button {
    margin: 0 auto;
  }

  .latest-news-container {
    background-image: url("../img/latest-news-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 80px 0px;
  }
  .latest-news-container .container__content {
    padding: 0px 20px;
  }
  .latest-news-container .latest-news .news-slider .slick-list {
    margin: 60px -5px 0px -5px;
  }
  .latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide {
    margin: 0px 5px 0px 5px;
  }
  .latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block {
    padding: 20px;
  }
  .latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__headline {
    font-size: 18px;
    line-height: 24px;
  }
  .latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block span {
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin: 15px 0px 15px 0px;
  }
  .latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author .item__author__text-block .item__author__headline {
    font-size: 14px;
    line-height: 20px;
  }
  .latest-news-container .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author .item__author__text-block span {
    font-size: 12px;
    line-height: 18px;
  }
  .latest-news-container .latest-news .news-slider .news-dots li {
    width: 14px;
    height: 14px;
  }
  .latest-news-container .latest-news .news-slider .news-dots li button {
    width: 14px;
    height: 14px;
  }
  #map {
    height: 400px;
    width: 100%;
  }

  .get-in-touch-container {
    position: relative;
    padding: 0px;
  }
  .get-in-touch-container .get-in-touch {
    position: relative;
    bottom: 0;
    top: 0;
    padding: 60px 0px 70px 0px;
    max-width: 767px;
    box-shadow: none;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content {
    margin: 40px 0px 0px 0px;
    gap: 30px;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content .content__text {
    flex: 1 1 100%;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content .content__text div {
    padding: 10px 0px;
    font-size: 14px;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content .content__form {
    flex: 1 1 100%;
  }

  .footer-container {
    padding: 60px 30px;
  }
  .footer-container .container__content {
    height: auto;
    padding: 0px;
  }
  .footer-container .container__content .footer .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
  }
  .footer-container .container__content .footer .footer__links .footer__links__logo {
    margin: 0px 0px 20px 0px;
  }
  .footer-container .container__content .footer .footer__info {
    color: white;
    max-width: 770px;
    margin: 50px auto 0px auto;
    font-family: "GothamProRegular";
    font-size: 14px;
    text-align: center;
  }
  .footer-container .container__content .footer .footer__info span {
    padding: 0px;
  }
  .footer-container .container__content .footer .footer__info span:nth-child(2) {
    display: block;
    border-left: none;
    margin: 20px 0px 0px 0px;
    padding: 0px;
  }

  .submit-button {
    width: 100%;
  }

  .menu .container__content__item__nav {
    padding: 0px 20px;
  }
  .menu .container__content__item__nav .navigation .header-logo svg {
    width: 180px;
  }
  .menu .container__content__item__nav .navigation .navigation-menu {
    right: 0%;
    gap: 20px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 100%;
    padding: 60px 0px;
  }
  .container .line {
    width: 100px;
    height: 1px;
    background-color: #2c4058;
    margin: 0 auto 20px auto;
  }
  .container h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
  }

  .container__content {
    padding: 0px 30px;
  }

  .more-button {
    margin: 0 auto;
  }

  .hero-container .slick-slider {
    padding: 0;
  }
  .hero-container .slick-slider .slick-list .slick-track .slick-slide {
    height: 320px;
  }
  .hero-container .slick-slider .hero-dots {
    top: 100%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero-container .slick-slider .hero-dots li {
    width: 14px;
    height: 14px;
    margin: 5px;
  }
  .hero-container .slick-slider .hero-dots li button {
    width: 14px;
    height: 14px;
  }
  .hero-container .slick-slider .container__content__item__headline .hero-text {
    max-width: 400px;
  }
  .hero-container .slick-slider .container__content__item__headline .hero-text h1 {
    font-size: 36px;
    line-height: 36px;
    margin: 0px 0px 40px 0px;
  }
  .hero-container .slick-slider .container__content__item__headline .hero-text span {
    font-size: 18px;
    line-height: 22px;
  }

  .container__content__item__icon .down-arrow {
    top: 340px;
  }

  .trade-center-container {
    background-image: none;
    padding: 0px 0px 60px 0px;
  }
  .trade-center-container .container__content .section-trade-center {
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__img {
    flex: 1 1 auto;
    height: 240px;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text {
    max-width: 767px;
    flex: 1 1 auto;
    text-align: center;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text span {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-family: "GothamProRegular";
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text h1 {
    text-align: center;
    margin: 20px 0px 0px 0px;
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text .paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0px;
    font-family: "GothamProRegular";
  }
  .trade-center-container .container__content .section-trade-center .section-trade-center__text .pointer {
    margin: 60px 0px 0px 0px;
    font-family: "GothamProItalic";
  }

  .commerce-centre-container {
    background-image: none;
    padding: 0px 0px 60px 0px;
  }
  .commerce-centre-container .container__content .section-commerce-centre {
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__img {
    order: 0;
    flex: 1 1 auto;
    height: 240px;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text {
    order: 1;
    max-width: 767px;
    flex: 1 1 auto;
    text-align: center;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text span {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 24px;
    font-family: "GothamProRegular";
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text h1 {
    text-align: center;
    margin: 20px 0px 0px 0px;
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text .paragraph {
    font-size: 18px;
    line-height: 30px;
    margin: 40px 0px;
    font-family: "GothamProRegular";
  }
  .commerce-centre-container .container__content .section-commerce-centre .section-commerce-centre__text .pointer {
    margin: 60px 0px 0px 0px;
    font-family: "GothamProItalic";
  }

  .gallery-container {
    padding: 60px 0px;
  }
  .gallery-container .gallery .gallery__photos {
    justify-content: center;
    margin: 60px 0px 60px 0px;
  }
  .gallery-container .gallery .gallery__photos .gallery__photos__big-item {
    height: 320px;
    flex: 1 1 580px;
  }
  .gallery-container .gallery .gallery__photos .gallery__photos__small-items {
    gap: 10px;
    max-width: 580px;
    flex: 1 1 580px;
  }
  .gallery-container .gallery .gallery__photos .gallery__photos__small-items .gallery__photos__small-item {
    flex: 1 1 285px;
    height: 214px;
  }
  .gallery-container .gallery .more-button {
    margin: 0 auto;
  }

  .latest-news-container {
    background-image: url("../img/latest-news-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0px 80px 0px;
  }
  .latest-news-container .container__content {
    padding: 0px 20px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .slick-list {
    margin: 60px -5px 0px -5px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .slick-list .slick-track .slick-slide {
    margin: 0px 5px 0px 5px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block {
    padding: 20px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__headline {
    font-size: 18px;
    line-height: 24px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block span {
    font-size: 14px;
    line-height: 20px;
    display: block;
    margin: 15px 0px 15px 0px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author .item__author__text-block .item__author__headline {
    font-size: 14px;
    line-height: 20px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .slick-list .slick-track .slick-slide .item__block .item__author .item__author__text-block span {
    font-size: 12px;
    line-height: 18px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .news-dots li {
    width: 14px;
    height: 14px;
  }
  .latest-news-container .latest-news .latest-news .news-slider .news-dots li button {
    width: 14px;
    height: 14px;
  }
  #map {
    height: 200px;
    width: 100%;
  }

  .get-in-touch-container {
    position: relative;
    padding: 0px;
  }
  .get-in-touch-container .get-in-touch {
    position: relative;
    bottom: 0;
    top: 0;
    padding: 60px 0px 70px 0px;
    max-width: 767px;
    box-shadow: none;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content {
    margin: 40px 0px 0px 0px;
    gap: 30px;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content .content__text {
    flex: 1 1 100%;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content .content__text div {
    padding: 10px 0px;
    font-size: 14px;
  }
  .get-in-touch-container .get-in-touch .get-in-touch__content .content__form {
    flex: 1 1 100%;
  }

  .footer-container {
    padding: 60px 30px;
  }
  .footer-container .container__content {
    height: auto;
    padding: 0px;
  }
  .footer-container .container__content .footer .footer__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
  }
  .footer-container .container__content .footer .footer__links .footer__links__logo {
    margin: 0px 0px 20px 0px;
  }
  .footer-container .container__content .footer .footer__info {
    color: white;
    max-width: 770px;
    margin: 50px auto 0px auto;
    font-family: "GothamProRegular";
    font-size: 14px;
    text-align: center;
  }
  .footer-container .container__content .footer .footer__info span {
    padding: 0px;
  }
  .footer-container .container__content .footer .footer__info span:nth-child(2) {
    display: block;
    border-left: none;
    margin: 20px 0px 0px 0px;
    padding: 0px;
  }

  .submit-button {
    width: 100%;
  }

  .menu .container__content__item__nav {
    padding: 0px 15px !important;
  }
  .menu .container__content__item__nav .navigation {
    height: 60px !important;
    margin: 0px;
    margin: 0px !important;
  }
  .menu .container__content__item__nav .navigation .header-logo svg {
    width: 180px;
  }
  .menu .container__content__item__nav .navigation .header__burger {
    display: block;
    position: relative;
    width: 40px;
    height: 30px;
    z-index: 3;
  }
  .menu .container__content__item__nav .navigation .header__burger span {
    position: absolute;
    background-color: white;
    left: 0;
    width: 100%;
    height: 2px;
    top: 14px;
    transition: all 0.3s ease;
  }
  .menu .container__content__item__nav .navigation .header__burger:before, .menu .container__content__item__nav .navigation .header__burger:after {
    content: "";
    background-color: white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease;
  }
  .menu .container__content__item__nav .navigation .header__burger:before {
    top: 0;
  }
  .menu .container__content__item__nav .navigation .header__burger:after {
    bottom: 0;
  }
  .menu .container__content__item__nav .navigation .header__burger.active {
    position: fixed;
    top: 30px;
    right: 20px;
    z-index: 50;
  }
  .menu .container__content__item__nav .navigation .header__burger.active span {
    transform: scale(0);
  }
  .menu .container__content__item__nav .navigation .header__burger.active:before {
    transform: rotate(45deg);
    top: 14px;
  }
  .menu .container__content__item__nav .navigation .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 14px;
  }
  .menu .container__content__item__nav .navigation .navigation-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #7e5aff;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
  }
  .menu .container__content__item__nav .navigation .navigation-menu .navigation__item:first-child {
    margin-top: 15px;
  }
  .menu .container__content__item__nav .navigation .social-icons {
    display: none;
  }
  .menu .container__content__item__nav .navigation .navigation-menu.active {
    top: 0;
  }
}

/*# sourceMappingURL=style.css.map */
